.Toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 50px;
  padding: 30px 30px;
}

.ScoreContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #bbada0;
  align-items: center;
  background-color: #bbada0;
  padding-top: 10px;
  border-radius: 5px;
}

.Title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
  color: #776e65;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.Intro {
  line-height: 1.2;
  margin-bottom: 0;
  margin-right: 10px;
  color: #776e65;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 24px;
}

.NewGame {
  font-size: 30px;
  color: white;
  background-color: #8f7a66;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
