.Cell {
  border: 8px solid #bbada0;
  width: 125px;
  height: 125px;
  text-align: center;
  line-height: 125px;
  color: #776e65;
}

@media (max-width: 600px) {
  .Cell {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

.Row {
  display: flex;
  flex-direction: row;
  width: auto;
}

.white {
  background-color: #eee4da;
}

.two {
  background-color: #eee4da59;
  animation-name: tada;
  animation-duration: 0.5s;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.four {
  background-color: #eee1c9;
  animation-name: tada;
  animation-duration: 0.5s;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.eight {
  background-color: #f3b27a;
  animation-name: tada;
  animation-duration: 0.5s;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f9f6f2;
}

.sixteen {
  background-color: #f69664;
  animation-name: tada;
  animation-duration: 0.5s;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f9f6f2;
}

.thirtytwo {
  background-color: #f77c5f;
  animation-name: tada;
  animation-duration: 0.5s;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f9f6f2;
}

.sixtyfour {
  background-color: #f75f3b;
  animation-name: tada;
  animation-duration: 0.5s;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f9f6f2;
}

.onetwentyeight {
  background-color: #edd073;
  animation-name: tada;
  animation-duration: 0.5s;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f9f6f2;
}

.twofiftysix {
  background-color: #edcc62;
  animation-name: tada;
  animation-duration: 0.5s;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f9f6f2;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.35),
    inset 0 0 0 1px rgba(255, 255, 255, 0.25);
}

.fivetwelve {
  background-color: #edc950;
  animation-name: tada;
  animation-duration: 0.5s;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f9f6f2;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.45),
    inset 0 0 0 1px rgba(255, 255, 255, 0.35);
}

.tentwentyfour {
  background-color: #edc53f;
  animation-name: tada;
  animation-duration: 0.5s;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f9f6f2;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55),
    inset 0 0 0 1px rgba(255, 255, 255, 0.45);
}

.twentyfortyeight {
  background-color: #ffffff;
  animation-name: tada;
  animation-duration: 0.5s;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
